<div class="jumbotron">
  <div class="vertical-center">
    <div class="pull-right">
      <a href="#/home" class="btn-game btn-game-short btn-glyphicon glyphicon glyphicon-home"></a>
    </div>
    <div>
      <div class="title-game">How to play?</div>
      <div class="container">
        <p>It's easy! A game runs for 40 seconds. During that time, you have to guess as many words as you can.</p>
        <p>For each character that you delete whilst entering the word -1 is subtracted from the score of that word.</p>
      </div>
    </div>

    <div class="row bottom-box">
      <div class="col-md-4 highscore-box"><a href="#/home" class="btn-game btn-game-highscore">PLAY!</a></div>
      <div class="col-md-8 col-xs-2"><img src="./assets/images/relax.png" width="150px"></div>
    </div>
  </div>
</div>
